.footer 
    .contact-block
        .wave-img
            img(alt="wave" src="assets/imgs/template/wave.svg")
        .title
            h2 Contact us
            h1 Have an prject in mind?
            p The right move at the right time saves your investment. live the dream of expanding your business.
        .conteiner
            .contact
                .contact-title
                    img(src="assets/imgs/template/home.svg", alt="home")
                    h6 Corporation
                    p 4517 Washington Ave. Manchester, Kentucky 39495
                    a(href="tel:2395550108") (239) 555-0108
                    a(href="e-mail:contact@company.com") contact@company.com
            .form-block
                form(method='POST' action='https://api.byteplex.info/api/test/contact/' id="main-form" )
                    div.form-group
                        input.name.form-control(type='text', placeholder='name' name='name')
                    div.form-group
                        input.email.form-control(type='email', placeholder='name@email.com' name='email')
                    div.form-group
                        input.message.form-control(type='text', placeholder='message' name='message')
                    
                    p(class="status_text1" style="display:none") form sent
                    p(class="status_text2" style="display:none") the form is filled out incorrectly
                    .send-block
                        .send-msg
                            input.btn.btn-black.hover-up.icon-arrow-right-white( type="submit" value="Send Message") 
                        p By clicking contact us button, you agree our terms and policy,
            script.
                const form = document.querySelector('#main-form');
                form.addEventListener('submit', async (event) => {
                event.preventDefault();
                const formData = new FormData(form);
                const data = Object.fromEntries(formData.entries());
                const response = await fetch('https://api.byteplex.info/api/test/contact/', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                const statusCode = response.status;
                if (response.status === 201) {
                    $('.status_text1').show();
                    $('.status_text2').hide();
                    const result = await response.json();
                    console.log("yes",result);
                }
                else{
                    $('.status_text2').show();
                    $('.status_text1').hide();
                    const result = await response.json();
                    console.log("no"),result;
                }
                });