.hero-block
    .main-title
        .pattern
            .pattern1
                img(alt="img" src="assets/imgs/template/pattern-1.svg")
            .pattern7
                img(alt="img" src="assets/imgs/template/pattern-7.svg")

        .conteiner
            .content-block
                .title-content-block
                    h1 
                        span(style="float:left") We are <span style="color: #006D77; white-space: nowrap;"> awesome<br> team </span>for your <br> business dream
                    p 
                        | Integrated workflow designed for product teams. We create world-class development and branding
                    .link-content-block
                        .content-left-link
                            .block-signin
                                a.btn.btn-black.hover-up.icon-arrow-right-white(href='page-signup.html') Get Started
                        .content-right-link
                            .block-link
                                a.btn.btn-link.hover-up.icon-arrow-right(href='page-signup.html') Learn More
        .img-block
            img(alt="img" src="assets/imgs/main-content/content-img.png")
